 body {
    margin: 0;
    text-align: center;
    background: #011934;
}

h3{
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

p{
    font-size: 80px;
    font-family: E1234;
    color: red;
    background: #000;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
            
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    font-family: E1234;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 5px;
    background: #011934;
    color: white;
    border: 1px solid white;
    font-size: 20px;
}

button:hover{
    background: #6b0c0c;
}